.player-wrapper {
  position: relative;
  left: 2%;
  bottom: 40px;
}

.react-player {
  top: 0;
  left: 0;
}

@media (min-width: 300px) {
  .react-player {
    width: 249px;
    height: 334px;
    margin-left: -50px;
  }

  .play-audio-buttons {
    position: relative !important;
    left: 40% !important;
    bottom: 60% !important;
    margin-left: -14px;
  }
}

.play-audio-buttons {
  display: flex;
}

#menos {
  position: relative;
  left: 70%;
  bottom: 20px;
}

#velocidade {
  position: relative;
  left: 71%;
  bottom: 20px;
}

#mais {
  position: relative;
  left: 72%;
  bottom: 20px;
}

#btn-modal {
  position: relative;
  width: 50px;
  height: 50px;
  left: 850px;
  bottom: 25px;
}

.icon-highlighter {
  width: 25px;
  position: relative;
  font-size: 27px;
  left: 43%; /*43%*/
  top: -20px;
}

.icon-advance {
  width: 25px;
  position: relative;
  left: 180%; /*47%*/
  top: -20px;
  font-size: 27px;
}

.left-icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 25px;
  position: relative;
  left: 161%; /*42%*/
  top: -20px;
  font-size: 27px;
}

#icon-play,
#icon-excluir {
  width: 25px;
}

#flag-brasil {
  width: 50px;
}

#flag-eua {
  width: 50px;
  margin-top: 15px;
}

#hide-icon {
  width: 50px;
}

.card-english {
  width: 350px;
  height: 300px;
  left: 0;
  bottom: 30%;
}

.card-portuguese {
  width: 350px;
  height: 300px;
  left: 0;
  bottom: 30%;
}

.controls {
  width: 20px;
  height: 20px;
  left: 19%;
}

.wrapper-row {
  margin: 20px 0;
  text-align: center;
}

.flag {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.btn-text {
  margin-bottom: 8px;
}

#btn-marcadores {
  margin-left: 90%;
}

#corpo {
  position: relative;
  width: 80%;
  height: 80%;
  right: 20px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s 0.5s ease-in-out;
  transition: all 0.5s 0.5s ease-in-out;
}

.modal-content {
  padding: 10px;
  max-width: 700px;
  min-width: 360px;
  max-height: 85%;
  overflow: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  border-radius: 3px;
  background: #fff;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-content img {
  display: block;
  width: 100%;
  margin: 10px 0 0;
}

/*INICIO ---- login*/
.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-form-2 {
  padding: 5%;
  background: #007bff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: #fff;
}
.login-form-2 label {
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
}
.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #007bff;
  background-color: #fff;
}
.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd {
  color: #007bff;
  font-weight: 600;
  text-decoration: none;
}
/*FIM ------ login*/

.react-css-collapse-transition {
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
