.player-wrapper {
  position: relative;
  left: 18%;
  bottom: 85%;
  margin-top: -228px;
  margin-bottom: 40px;
}

.react-player {
  position: absoluta;
  top: 0;
  left: 0;
}

@media (min-width: 300px) {
  .react-player {
    width: 249px;
    height: 334px;
    margin-left: -50px;
  }

  .play-audio-buttons {
    position: relative !important;
    left: 40% !important;
    bottom: 60% !important;
    margin-left: -14px;
  }
}

.play-audio-buttons {
  position: relative;
  left: 40%;
  bottom: 60%;
}

#menos {
  position: relative;
  left: 100%;
  bottom: 60%;
}

#velocidade {
  position: relative;
  left: 105%;
  bottom: 60%;
}

#mais {
  position: relative;
  left: 110%;
  bottom: 60%;
}

#icon-marcador {
  width: 25px;
  position: relative;
  bottom: 42%; /*50%  */
}

#icon-retornar {
  width: 25px;
  position: relative;
  left: 6%;
  bottom: 50%;
}

#icon-avancar {
  width: 25px;
  position: relative;
  left: 12%;
  bottom: 50%;
}

#icon-play,
#icon-excluir {
  width: 25px;
}

#flag-brasil {
  width: 50px;
}

#flag-eua {
  width: 50px;
  margin-top: 15px;
}

#hide-icon {
  width: 50px;
}

.card-english {
  width: 350px;
  height: 300px;
  left: 0;
  bottom: 30%;
}

.card-portuguese {
  width: 350px;
  height: 300px;
  left: 0;
  bottom: 30%;
}

.controls {
  width: 20px;
  height: 20px;
  left: 19%;
}

.wrapper-row {
  margin: 20px 0;
  text-align: center;
}

.flag {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.btn-text {
  margin-bottom: 8px;
}

/*login*/
.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-form-2 {
  padding: 5%;
  background: #6ebdc4;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #6ebdc4;
}
.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #6ebdc4;
  background-color: #fff;
}
.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
